// out: false

// Colores base
@color: #585858;
@gris: #9E9E9E;

// Formatos de Entrada
@link: #2196F3;
@status: #00BCD4;
@quote: #607D8B;
@image: #FF5722;
@gallery: #E91E63;
@audio: #3F51B5;
@video: #f44336;
@aside: #4CAF50;
@chat: #9C27B0;

// Otros tipos de entradas
@standard: #009688;
@sticky: #FFC107;
@pagecolor: #FF9800;
@results: #795548;

// Mensajes
@success: @aside;
@warning: @pagecolor;
@error: @video;

// Icono de entradas
.icon( @color ) {
	
}

// Fondo iconos (descontinuado)
.background(@color) {
    background-color: @color;
}